body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
#header-nav{
  background-color: grey;
  border: 0;
}
.container{

}
#navbar-header a{
  text-decoration: none;
}
#logo-img{
  width: 250px;
  height: 100px;
  margin: 10px 15px 10px 0;
  background-size: cover;
  background-position: center;
}